DATABASE_URL="file:./dev.db"
GALLERY_DEV_LAN_ENABLED="false"
GALLERY_DEV_LAN_HOST=""
GALLERY_SERVER_HOST="127.0.0.1"
GALLERY_SERVER_PORT="3001"
GALLERY_ALLOWED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
GALLERY_JSON_BODY_LIMIT="5mb"
GALLERY_PUBLISH_ENABLED="true"
GALLERY_REQUIRE_WRITE_TOKEN="true"
GALLERY_WRITE_TOKEN=""
GALLERY_RATE_LIMIT_WINDOW_MS="60000"
GALLERY_RATE_LIMIT_MAX="120"
GALLERY_PUBLISH_RATE_LIMIT_MAX="5"
GALLERY_MAX_PATTERN_CELLS="10000"
GALLERY_MAX_DATA_URL_CHARS="1500000"
GALLERY_TRUST_PROXY="false"
AUTH_COOKIE_NAME="dodoudou_session"
AUTH_SESSION_DAYS="30"
AUTH_COOKIE_SECURE="false"
AUTH_PASSWORD_MIN_LENGTH="6"
AUTH_USERNAME_MIN_LENGTH="8"
AUTH_USERNAME_MAX_LENGTH="32"
AUTH_RATE_LIMIT_WINDOW_MS="60000"
AUTH_LOGIN_RATE_LIMIT_MAX="10"
AUTH_REGISTER_RATE_LIMIT_MAX="5"

VITE_API_BASE_URL=auto
VITE_API_PORT=3001
VITE_ENABLE_GALLERY_PUBLISH=false
VITE_GALLERY_WRITE_TOKEN=""
VITE_USE_MOCK_GALLERY=false
VITE_ENABLE_GALLERY_PUBLISH=true
